body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
  justify-content:center;
  display:flex;
  flex-wrap:wrap;
}

h1{
  font-size: 55px;
}

.flex {
  display:flex;
}

.center{
  justify-content: center;
}

.wrap{
  flex-wrap: wrap;
}

hr {
  border: 6px solid #4B5DB8;
  border-radius: 3px;
  width: 70px;
  margin-left:0px;
}

#nav-bar{
  width: 100%;
  max-width:1200px;
  justify-content:space-evenly;
  align-items: center;
  font-size:18px;
  font-weight: 700;
  padding: 8px 0px;
}

#nav-logo{
  display: block;
  max-width: 80px;
  max-height: 80px;
  margin:auto;
}

.nav-option:hover{
  cursor:pointer;
  color: #4B5DB8;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

#nav-logo-div{
  display:flex;
  flex-direction:column;
}

#nav-logo-div:hover{
  cursor:pointer;
  color: #4B5DB8;
}

.stacked-logo-text{
  display: grid;
  text-align: center;
}

#hero{
  width:100%;
  max-height: 700px;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#hero-bg{
  width: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  opacity: 0.65;
}

#hero-logo{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#ase-logo{
  max-height:200px;
}

#services-inner{
  flex-wrap: wrap;
}

#service-heading{
  width: 100%;
  justify-content: space-between;
  padding: 20px 0px;
}

#service-options{
  display:flex;
  width:100%;
  justify-content:space-evenly;
  font-size:24px;
  font-weight:bold;
  padding: 30px 0px;
  color: #4B5DB8;
}

.service-icon{
  font-size: 150px !important;
}

.white-section-outer{
  display: flex;
  justify-content: center;
  width:100%;

}
.white-section-inner{
  width:100%;
  max-width:1000px !important;
  padding: 50px 15%;
}
.black-section-outer{
  display: flex;
  justify-content: center;
  width:100%;
  background-color:black;
}
.black-section-inner{
  width:100%;
  max-width:1000px !important;
  padding: 50px 15%;
  background-color:black;
  color: white;
}

#talking-points{
  flex-direction: column;
}

.talking-point{
  justify-content:center;
  align-items: center;
  width:100%;
  max-width:1200px;
}

.talking-point-title{
  width:20%;
}

.talking-point-body{
  width:80%
}

.chevron-right{
  font-size:50px !important;
}

#about-us-cta{
  color:white;
  background-color: #4B5DB8;
  border-radius: 32px;
  padding:24px;
  font-size: 18px;
  font-weight:bold;
  /* border-color:#4B5DB8; */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  margin-top:10px;
}

#about-us-cta:hover{
  cursor: pointer;
  box-shadow: 0px 15px 20px #b4b6c2;
  color: #fff;
  transform: translateY(-7px);
}

#about-us-body{
  margin-top:0;
}

#about-us-div{
  max-width: 950px;
  margin: auto;
}

